* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

#active {
    color: #020019;
    font-weight: bold;
}

#logo {
    width: 60px;
    aspect-ratio: 1;
    margin-right: 5px; 
    color: #4a85b099;
}

#menu {
transition: max-height 0.3s ease-out;
}
#hero {
    background-size: cover;
    width: 100%;
    min-height: 85vh;
    transition: 0.8s ease;
}

#heure {
    transform: translateY(35px);
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 0 3px black;
    color: black;
}

.cover1 {
    background: url(IMG/arriere\ plan\ 1.jpg);
}
.cover2 {
    background: url(IMG/arriere\ plan\ 2.jpg);
}
.cover3 {
    background: url(IMG/arriere\ plan\ 3.jpg);
}
.cover4 {
    background: url(IMG/arriere\ plan\ 4.jpg);
}

#infosup {
    transition: 0.8s ease;
}

#flooter_index {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0,);
}

#translate{
    animation: translate 150s infinite linear;
}

#translate img {
    width: 400px;
    height: 150px;
    border-radius: 1px;


}

@keyframes translate {
    0%,100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-2000px);
    }
}

#divpropos {
    transition: 1s ease-out;
}

.Imgpropos {
    transform: translate(-1000px);
    opacity: 0;
}

.shine-text {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: linear-gradient(90deg, #000000 0%, #ffffff 30%, #000000 100%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: shine 5s linear infinite;
  }

  @keyframes shine {
    0% {
      background-position: 200% center;
    }
    100% {
      background-position: -200% center;
    }
  }

#contact-bubble {
    right: -250px;
    animation: fast 2s infinite linear;
}

#contact-bubble:hover {
    right: 0;
    animation: none;
}

@keyframes fast {
    0% , 100%{
        right: -200px;
    }
    80%{
        right: -250px;
    }
}

.details {
    width: 100%;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    border-radius: 15px;
}

.vibre {
    font-size: 30px;
    animation: vibre 2s infinite linear;
}

@keyframes vibre {
    0%, 100%{
        transform: translateY(-10px);
    }
    20% {
        transform: translateY(50px);
    }
    80%{
        transform: translateY(0);
    }
}

.shine {
    background: url(https://img.freepik.com/free-photo/african-american-woman-scientist-holding-test-tube-laboratory_839833-8926.jpg?t=st=1746522088~exp=1746525688~hmac=c5a3562ee5b9d9a37f30855e26f6eddf38fd4fe2235bbed857d37efbd0f06b41&w=1380);
    background-size: cover;
}

.contact {
    background-image: url(https://img.freepik.com/free-photo/medium-shot-bored-people-working_23-2150697629.jpg?t=st=1746609111~exp=1746612711~hmac=47f7e387088af9648fded141b06d5fd8e59b63ce3c06dc30d42264c63f32372c&w=1380);
    background-size: cover;
    background-position: 50%;
}

.produit {
    background-image: url(https://img.freepik.com/free-photo/minimalistic-science-banner-with-pills_23-2149431123.jpg?t=st=1746710032~exp=1746713632~hmac=92c1fa8315cc3fb08bfaf65bf7125d530e114abadc72208a48e37d3bb118bc44&w=1380);
    background-size: cover;
    background-position: 50%;
}

#bubble-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 9999;
  }
  
  .bubble {
    position: absolute;
    background-color: rgba(0, 123, 255, 0.7);
    bottom: 0;
    border-radius: 50%;
    animation: rise 5s linear infinite;
  }
  
  @keyframes rise {
    0% {
      opacity: 0;
      transform: translateY(0);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(-100vh);
    }
  }

.nav-item {
position: relative;
display: inline-flex;
align-items: center;
justify-content: center;
color: white;
font-weight: 500;
padding: 0.25rem 0.5rem; /* équivalent px-2 py-1 */
}

.nav-text {
position: relative;
z-index: 10;
}

.nav-icon {
position: absolute;
opacity: 0;
transform: translate(-50%, -50%) scale(0);
transition: all 0.5s ease;
top: 0;
left: 50%;
z-index: 0;
color: white;
font-size: 1.25rem;
}

.group:hover .nav-icon {
opacity: 1;
transform: translate(-50%, -50%) scale(2);
top: 150%;
}

.group:hover .nav-text {
color: white;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-fadeInScale {
  animation: fadeInScale 0.7s ease-out forwards infinite;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.border-gray-900 {
    border-bottom: 2px dotted cornflowerblue;
}
